:root {
  --black: #131313;
  --gray: #727272;
  --orange: #ff900e;
  --white: #ffffff;
  --light-gray: #424242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
header {
  background: rgba(255, 144, 14, 0.3);
  padding: 0 25px 0 25px;
}

/* Utility Classes */
.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 70px 40px 45px 40px;
}
.primary-btn {
  font-weight: 600;
  font-size: 20px;
  background: var(--orange);
  color: var(--white);
  border-radius: 8px;
  padding: 21px 25px;
  border: none;
}
.title {
  color: var(--black);
  padding-bottom: 24px;
}
.description {
  color: var(--gray);
  padding-bottom: 32px;
}
.title-large {
  font-weight: 700;
  font-size: 45px;
}
.title-medium {
  font-weight: 600;
  font-size: 32px;
}
.title-small {
  font-weight: 600;
  font-size: 20px;
}
.border-left {
  border-left: 5px solid var(--orange);
  margin-bottom: 24px;
  padding-left: 20px;
  padding-bottom: 0;
}

/* Heading section styles */
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 !important;
}
nav > h2 {
  padding-bottom: 0 !important;
}
nav > ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  color: var(--light-gray);
}
.header-container {
  padding-top: 100px;
}
.header-blog {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}
.header-title {
  font-weight: 700;
  font-size: 64px;
}
.header-img > img {
  width: 100%;
  height: 100%;
}

/* Quick List styles */
.quick-list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  gap: 50px;
  max-width: 1070px;
  padding-top: 70px;
  padding-bottom: 50px;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 17px;
  grid-row-gap: 17px;
}
.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.gray {
  color: var(--gray);
}
.orange {
  color: var(--orange);
}

/* Features section styles */
.features-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  align-items: center;
}
#feature-description {
  padding-bottom: 30px;
}
.image > img {
  width: 100%;
  height: auto;
}
.feature {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px 30px 1px 30px;
  margin-bottom: 30px;
}
.experience {
  position: relative;
  top: -100px;
  left: -50px;
  color: var(--white);
  background: var(--orange);
  border-radius: 8px;
  width: 100%;
  max-width: 280px;
  padding: 40px 36px;
  text-align: center;
}
.experience > h1 {
  font-weight: 700;
  font-size: 55px;
}
.experience > h3 {
  font-weight: 500;
  font-size: 28px;
}

/* Facts section styles */
.facts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid var(--orange);
  border-radius: 8px;
  transition: transform .5s;
  box-shadow: 5px 5px 5px rgba(106, 167, 175, 0.5);
}
.fact:hover {
  background-color: #38bcec64;
  border: none;
  transform: scale(1.2) rotate(-7deg);
}
.facts-container .description {
  width: 100%;
  max-width: 542px;
  padding-bottom: 80px;
}
.fact > h2 {
  font-weight: 600;
  font-size: 2.5em;
  color: var(--light-gray);
}
.fact > p {
  font-weight: 600;
  font-size: 1.12em;
  color: var(--gray);
}

/* Sponsors section styles */
.sponsor-container {
  width: 100%;
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
}
.sponsor-container .description {
  padding-bottom: 50px;
}
.sponsors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor {
  filter: grayscale();
  margin: 0 auto;
}

/* Contact section Styles */
.contact {
  text-align: center;
}
.contact-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  background-color: #f0faef;
  border-radius: 10px;
  padding: 50px;
}
.contact-form input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

/* Footer section styles */
.footer-section {
  margin-bottom: 100px;
  text-align: center;
}
.footer {
  background: #fff4e7;
  border-radius: 8px;
  padding: 25px 10px;
}
.footer .description {
  padding-bottom: 0;
}

/* Media Querie Styles */

/* Mobile View  */
@media only screen and (max-width: 576px) {
  .container {
    padding: 70px 20px 25px 20px;
  }
  .primary-btn {
    font-weight: 600;
    font-size: 16px;
    padding: 18px 22px;
  }
  .title-large {
    font-weight: 600;
    font-size: 30px;
  }
  .header-title {
    font-weight: 700;
    font-size: 50px;
  }
  nav {
    align-items: flex-start;
    gap: 10px;
  }
  nav > h2 {
    flex-shrink: 0;
  }
  nav > ul {
    flex-direction: column;
    gap: 10px;
  }
  .header-container {
    padding: 70px 0 25px 0;
  }
  .header-title {
    font-weight: 700;
    font-size: 50px;
  }
  .quick-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .img-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .features-section {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .experience {
    left: calc(100% / 2 - 140px);
    padding: 32px 26px;
  }
  .facts,
  .sponsors {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
  }
  .contact-details {
    grid-template-columns: repeat(1, 1fr);
    padding: 25px;
  }
  .contact-form input[type="text"],
  input[type="email"],
  textarea {
    width: 80%;
    padding: 14px 20px;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    align-items: flex-start;
    gap: 10px;
  }
  nav > ul {
    flex-direction: column;
    gap: 10px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 1100px) {
  .container {
    padding: 70px 30px 25px 30px;
  }
  .header-container {
    padding: 70px 10px 25px 10px;
  }
  .quick-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .img-container {
    margin: 0 auto;
  }
  .features-section {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .experience {
    left: calc(100% / 2 - 140px);
    padding: 32px 26px;
  }
  .facts,
  .sponsors {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
  }
  .contact-details {
    padding: 30px;
  }
  .contact-form input[type="text"],
  input[type="email"],
  textarea {
    padding: 14px 20px;
  }
}